<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasos Tzaras</title>
    <link rel="icon" href="binary_title.png" type="image/x-icon">
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="styles.css?v=<%= new Date().getTime() %>">
    <!-- Link to your JavaScript file with a dynamically generated version -->
    <script src="updateVersion.js?v=<%= new Date().getTime() %>"></script>
</head>

<body>
    <header>
        <h1>ARE YOU A ZERO OR A ONE?</h1>
    </header>

    <nav>
        <a href="https://drive.google.com/file/d/1UVGSb6h_V1qrWUynaitBi6rzxxoEgZCw/view?usp=sharing" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/tasos-tzaras-04910b213/" target="_blank">LinkedIn</a>
        <a href="https://github.com/TasosTzaras" target="_blank">GitHub</a>
    </nav>

    <img src="linktre.png" alt="Linktree QRCode">

    <section>
        <h2>Control is an illusion</h2>

    </section>

</body>

</html>
