/* Your CSS styles go here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    /* Ensure the body is positioned relatively for the pseudo-element */
    background-image: url('binary.jpg');
    background-size: cover;
    background-position: center;
    user-select: text;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

section {
    background-color: grey;
    margin: 10px 0;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
}